.dark-mode a img {
    filter: brightness(0) invert(1);
}


footer {
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 768px) {
    .item-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}
main {
    height: 100vh;
}
