.dark-mode a img {
    filter: brightness(0) invert(1);
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
.card.dark-mode {
    background-color: #1e1e1e;
    color: #ffffff;
}
.nav-pills .nav-link.dark-mode {
    background-color: #1e1e1e;
    color: #ffffff;
}
header.dark-mode, footer.dark-mode {
    background-color: #1e1e1e;
    color: #ffffff;
}
main {
    height: 100%;
    padding-bottom: 50px; /* Ajusta este valor según la altura de tu footer */
}

.item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items2 {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}